<!-- Mobile cards (outside table) -->
<div class="fuel-card <%= index.even? ? 'even' : 'odd' %>">
    <span class="fuel-label">Date</span>
    <span class="fuel-value"><%= current_topup.topup_date.strftime("%d-%m-%Y") %></span>

    <span class="fuel-label">Fuel Brand</span>
    <span class="fuel-value"><%= current_topup.brand %></span>

    <span class="fuel-label">Price</span>
    <span class="fuel-value">₹<%= current_topup.price %></span>

    <span class="fuel-label">Rate/litre</span>
    <span class="fuel-value">₹<%= current_topup.rate_per_litre %></span>

    <span class="fuel-label">Odometer (kms)</span>
    <span class="fuel-value"><%= current_topup.odometer_reading %></span>

    <span class="fuel-label">Mileage (kmpl)</span>
    <span class="fuel-value">
      <% if index == 0 %>
        🔥 Burning now
      <% else %>
        <%= current_topup.mileage_from(next_topup) || "-" %>
      <% end %>
    </span>
    <span class="fuel-label"></span>
    <span class="fuel-value">
      <%  if controller_name == "fuel_topups" && action_name == "index" 
            if @ownership && current_topup.user_id == current_user.id %>
              <%= link_to 'Edit', edit_ownership_fuel_topup_path(@ownership, current_topup),
                          class: "btn btn-sm btn-warning" %>
            <% end
          end %>
    </span>
</div>
