<div align="center">
  <h1>Fuel Top-ups</h1>
  <h2>
    <%= @car.car_make.name %> <%= @car.model %> <%= @car.variant %> -
    <%= @car.date_of_purchase.strftime("%B %Y") %>
  </h2>

  <table class="topups-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Bill Amount (₹)</th>
        <th>Rate per Litre</th>
        <th>Brand</th>
        <th>Odometer (kms)</th>
        <th>Mileage (kmpl)</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% next_topup = @fuel_topups.first %>
      <% @fuel_topups.each_with_index do |current_topup, index| %>
        <tr>
          <td data-label="Date"><span><%= current_topup.topup_date.strftime("%d-%b-%Y") %></span></td>
          <td data-label="Amount"><span><%= current_topup.price.to_i %></span></td>
          <td data-label="Rate/Litre"><span><%= current_topup.rate_per_litre.to_f %></span></td>
          <td data-label="Brand"><span><%= current_topup.brand %></span></td>
          <td data-label="Odometer (kms)"><span><%= current_topup.odometer_reading.to_i %></span></td>

          <% if(index == 0) %>
            <td data-label="Mileage (kmpl)"><span><i class='fas fa-fire-alt' style='color:orange'></i> Burning now</span></td>
          <% elsif current_topup.odometer_reading && current_topup.id != next_topup.id %>
            <% mileage = current_topup.mileage_from(next_topup) %>  
            <td data-label="Mileage (kmpl)"><span><%= mileage %></span></td>
          <% else %>
            <td> - </td>
          <% end %>

          <td>
          <%  
             if @ownership && current_topup.user_id == current_user.id %>
              <%= link_to 'Edit', edit_ownership_fuel_topup_path(@ownership, current_topup),
                          class: "btn btn-sm btn-warning" %>
            <% end %>
          </td>

        </tr>
        <% next_topup = current_topup %>
      <% end %>
    </tbody>
  </table>

  <div class="fuel-cards"> 
    <% @fuel_topups.each_with_index do |current_topup, index| %>
      <% next_topup = @fuel_topups[index - 1] if index > 0 %>

      <%= render partial: "fuel_topups/fuel_topup",
                locals: { current_topup: current_topup, next_topup: next_topup, index: index } %>
    <% end %>
  </div>

  <div class="pagination">
    <%= paginate @fuel_topups %>
  </div>

  <br>
  <% if @ownership&.user_id == current_user.id %>
    <%= link_to 'New Top-up', new_ownership_fuel_topup_path(@ownership), class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Back', car_path(@car), class: "btn btn-primary" %>
</div>
