<div align="center">
  <h1>Fuel Top-ups</h1>
  <h2>
    <%= @car.car_make.name %> <%= @car.model %> <%= @car.variant %> -
    <%= @car.date_of_purchase.strftime("%B %Y") %>
  </h2>

  <table class="cars-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Bill Amount (₹)</th>
        <th>Rate per Litre</th>
        <th>Brand</th>
        <th>Odometer Reading (km)</th>
        <th>Mileage (kmpl)</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% current_topup = @fuel_topups.first %>
      <% @fuel_topups.each_with_index do |prev_topup, index| %>
        <tr>
          <td class="date-cell"><%= prev_topup.topup_date.strftime("%d-%b-%Y") %></td>
          <td><%= prev_topup.price.to_i %></td>
          <td><%= prev_topup.rate_per_litre.to_f %></td>
          <td class="brand-cell"><%= prev_topup.brand %></td>
          <td><%= prev_topup.odometer_reading.to_i %></td>

          <% if(index == 0) %>
              <td><i class='fas fa-fire-alt' style='color:orange'></i> Burning now</td>
          <% elsif current_topup.odometer_reading && current_topup.id != prev_topup.id %>
            <% mileage = calculate_mileage(current_topup, prev_topup)
               mileage = (mileage > 30 || mileage < 0) ? '-' : mileage %>
            <td><%= mileage %></td>
          <% else %>
            <td> - </td>
          <% end %>

          <td>
          <%  
             if @ownership && prev_topup.user_id == current_user.id %>
              <%= link_to 'Edit', edit_ownership_fuel_topup_path(@ownership, prev_topup),
                          class: "btn btn-sm btn-warning" %>
            <% end %>
          </td>

        </tr>
        <% current_topup = prev_topup %>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if @ownership&.user_id == current_user.id %>
    <%= link_to 'New Fuel Top-up', new_ownership_fuel_topup_path(@ownership), class: "btn btn-primary" %>
  <% end %>
</div>
