<div style="display: flex; justify-content: center;">
  <div class="fuel-form">
    <h1>Add Fuel Topup for <%= @car.make %> <%= @car.model %></h1>

    <%= form_with(model: [@car, @fuel_topup], local: true) do |form| %>
      <% fields = [
        [:brand, "Brand", form.select(:brand, options_for_select([["Indian Oil","Indian Oil"], ["Bharat Petrol","Bharat Petrol"], ["HP","HP"], ["Shell","Shell"],["Nayara","Nayara"]] ))],
        [:rate_per_litre, "Rate per Litre (₹)", form.number_field(:quantity, step: 0.1)],
        [:price, "Total Price (₹)", form.number_field(:price, step: 0.01)],
        [:odometer_reading, "Odometer Reading (km)", form.number_field(:odometer_reading, step: 0.1)],
        [:topup_date, "Date of Topup", form.date_select(:topup_date, start_year: Date.today.year-5, end_year: Date.today.year)]
      ] %>

      <% fields.each_with_index do |(field, label, input), index| %>
        <div class="fuel-row <%= 'even' if index.even? %>">
          <div class="fuel-label"><%= form.label field, label %></div>
          <div class="fuel-input"><%= input %></div>
        </div>
      <% end %>

      <div style="text-align: center; margin-top: 15px;">
        <%= form.submit "Add Fuel Topup", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
