<div class="expense-fields">
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01 %>
  </div>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <!-- hidden _destroy field is mandatory -->
  <%= f.hidden_field :_destroy, value: "0" %>
  <button type="button" class="remove-expense">Remove</button>
</div>
