<%= form_with(model: balance_sheet, local: true) do |f| %>
  <div class="balance-sheets-form">

    <div class="form-group">
      <%= f.label :year %>
      <%= f.number_field :year %>
    </div>

    <div class="form-group">
      <%= f.label :month %>
      <%= f.select :month, (1..12).map { |m| [Date::MONTHNAMES[m], m] } %>
    </div>

    <div class="form-group">
      <%= f.label :total_income %>
      <%= f.number_field :total_income, step: 0.01 %>
    </div>

    <div class="form-group">
      <%= f.label :carry_forward, "Carry Forward from Previous Month" %>
      <%= f.number_field :carry_forward, step: 0.01 %>
    </div>

    <h3>Expenses</h3>
    <div id="expenses-container">
      <% f.fields_for :expenses do |expense_form| %>
        <%= render 'expense_fields', f: expense_form %>
      <% end %>
    </div>

    <button type="button" id="add-expense-btn">Add Expense</button>

    <div class="form-group">
      <%= f.submit %>
    </div>

    <!-- Hidden template for a new expense -->
    <div id="expense-template" style="display:none;">
      <% new_expense = balance_sheet.expenses.build %>
      <%= f.fields_for :expenses, new_expense, child_index: "NEW_RECORD" do |expense_form| %>
        <%= render 'expense_fields', f: expense_form %>
      <% end %>
    </div>
  </div>
<% end %>
