<!-- app/views/balance_sheets/index.html.erb -->
<div class="balance-sheets-page">
  <h1>Your Balance Sheets</h1>

  <%= link_to "New Balance Sheet", new_balance_sheet_path, class: "button" %>

  <%= button_to "Generate Current Month",
        generate_balance_sheets_path,
        method: :post,
        params: { year: Date.current.year, month: Date.current.month },
        class: "button" %>

  <% if @balance_sheets.present? %>
  <table>
    <thead>
      <tr>
        <th>Details</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @balance_sheets.each do |b| %>
        <tr>
          <td><%= link_to "#{Date::MONTHNAMES[b.month]} #{b.year}", balance_sheet_path(b) %></td>
          <td>
            <%= link_to 'View', balance_sheet_path(b) %> |
            <%= link_to 'Delete', balance_sheet_path(b), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div class="empty-state">
      <p>No balance sheets yet.</p>
    </div>
  <% end %>
</div>