<!-- app/views/balance_sheets/show.html.erb -->
<div class="balance-sheets-page">
  <h1>Balance Sheet for <%= Date::MONTHNAMES[@balance_sheet.month] %>, <%= @balance_sheet.year %></h1>

  <p><strong>Total Income (₹):</strong> <%= @balance_sheet.total_income %></p>
  <p><strong>Carry Forward (₹):</strong> <%= @balance_sheet.carry_forward %></p>
  <p><strong>Total Expenses (₹):</strong> <%= @balance_sheet.total_expense %></p>
  <p><strong>Net balance (₹): </strong> <%= @balance_sheet.net_balance %></p>

  <h3>Expenses</h3>
  <% expenses = @balance_sheet.expenses.undeleted 
    if expenses.any? %>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount (₹)</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% expenses.each do |expense| %>
          <tr>
            <td><%= expense.description %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.date.strftime("%d-%m-%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No expenses recorded.</p>
  <% end %>

  <%= link_to "Edit", edit_balance_sheet_path(@balance_sheet), class: "btn" %>
  <%= link_to "Back", balance_sheets_path, class: "btn" %>
</div>
