<div align='center'>
  <% unless action_name == "my_reviews" %>
    <%= form_with url: dishes_path, method: :get, local: true, html: { autocomplete: "off", style: "display: flex; gap: 20px; justify-content: center; align-items: flex-end; flex-wrap: wrap;" } do %>
      <div>
        <% selected_city_id = params[:city_id].presence || @restaurant&.city_id %>

        <%= select_tag :city_id,
              options_for_select(
                @cities.map { |c| [c.name, c.id] } + [["➕ Add City", "add_city"]],
                selected_city_id
              ),
              include_blank: "All Cities",
              onchange: "if (this.value === 'add_city') { window.location='#{new_city_path}'; }" %>

      </div>

      <div>
        <%= label_tag :dish_name, "Filter by Dish Name:" %>
        <%= text_field_tag :dish_name, params[:dish_name] %>
      </div>

      <div>
        <%= label_tag :restaurant_name, "Filter by Restaurant Name:" %>
        <%= text_field_tag :restaurant_name, params[:restaurant_name] %>
      </div>

      <%= submit_tag "Apply Filters" %>
    <% end %>
  <% end %>

  <table border=true>
      <th>Restaurant</th>
      <th> Dish</th>
      <th>
      <% new_direction =
          params[:sort_column] == "rating" && params[:sort_direction] == "asc" ? "desc" : "asc" %>

      <%= link_to url_for(params.permit!.to_h.merge(sort_column: "rating", sort_direction: new_direction)),
                  class: "sort-link #{'active' if params[:sort_column] == 'rating'}" do %>
        Rating
        <span class="arrow">
          <% if params[:sort_column] == "rating" %>
            <%= params[:sort_direction] == "asc" ? "↑" : "↓" %>
          <% else %>
            ⇅
          <% end %>
        </span>
      <% end %>
      </th>
      <th> Comments </th>
      <th> City </th>
      <% @dishes.each do |dish| %>
          <tr>
              <td><%=link_to dish.restaurant&.name, dishes_restaurant_path(dish.restaurant)%></td>
              <td><%= dish.name %></td>
              <td><%= dish.rating %></td>
              <td><%= dish.comments %></td>
              <td><%= dish.restaurant.city.name %></td>
          </tr>
      <% end %>
  </table>
  <ul>
    <li><%= link_to "Add Review", new_dish_path, class: "btn btn-primary" %></li>
    <li><%= link_to "Back to List", dishes_path%></li>
  </ul>
</div>

<div class="pagination" align="center">
  <%= paginate @dishes %>
</div>
