<div align='center'>
  <%= form_with url: dishes_path, method: :get, local: true, html: { autocomplete: "off", style: "display: flex; gap: 20px; justify-content: center; align-items: flex-end; flex-wrap: wrap;" } do %>
    <div>
      <%= label_tag :city_id, "Filter by City" %>
      <%= select_tag :city_id,
                    options_from_collection_for_select(@cities, :id, :name, params[:city_id]),
                    include_blank: "All Cities" %>
    </div>

    <div>
      <%= label_tag :dish_name, "Filter by Dish Name:" %>
      <%= text_field_tag :dish_name, params[:dish_name] %>
    </div>

    <div>
      <%= label_tag :restaurant_name, "Filter by Restaurant Name:" %>
      <%= text_field_tag :restaurant_name, params[:restaurant_name] %>
    </div>

    <%= submit_tag "Apply Filters" %>
  <% end %>

  <table border=true>
      <th>Restaurant</th>
      <th> Dish</th>
      <th>
        <%= link_to "Rating #{params[:direction] == 'asc' ? '⬆️' : '⬇️'}".html_safe, dishes_path(
              sort: 'rating',
              direction: params[:direction] == 'asc' ? 'desc' : 'asc',
              dish_name: params[:dish_name],
              city_id: params[:city_id],
              restaurant_name: params[:restaurant_name]
          ) %>
      </th>
      <th> Comments </th>
      <th> City </th>
      <% @dishes.each do |dish| %>
          <tr>
              <td><%=link_to dish.restaurant&.name, dishes_restaurant_path(dish.restaurant)%></td>
              <td><%= dish.name %></td>
              <td><%= dish.rating %></td>
              <td><%= dish.comments %></td>
              <td><%= dish.restaurant.city.name %></td>
          </tr>
      <% end %>
  </table>
  <ul>
    <li><%= link_to "Add Review", new_dish_path, class: "btn btn-primary" %></li>
    <li><%= link_to "Back to List", dishes_path%></li>
  </ul>
</div>

<div class="pagination" align="center">
  <%= paginate @dishes %>
</div>
