

<%= form_with model: @dish, local: true, html: { autocomplete: "off" } do |form| %>
    <div align='center'>
        <h1>Add Review for Dish</h1>
        <div>
            <%= form.label :city_name, "City"%><br>
            <%= form.text_field :city_name, list: "city_names", required: true %>
            
            <datalist id="city_names">
            <% @city_names.each do |name| %>
                <option value="<%= name %>">
            <% end %>
            </datalist>
        </div>
        <div>
            <%= form.label :restaurant_name, "Restaurant Name" %><br>
            <%= form.text_field :restaurant_name, list: "restaurant_names", required: true %>

            <datalist id="restaurant_names">
            <% @restaurant_names.each do |name| %>
                <option value="<%= name %>">
            <% end %>
            </datalist>
        </div>

        <div>
            <%= form.label :name, "Dish Name" %><br>
            <%= form.text_field :name, required: true %>
        </div>

        <div>
            <%= form.label :rating, "Rating (1 to 5)" %><br>
            <%= form.number_field :rating, in: 1..5, required: true %>
        </div>

        <div>
            <%= form.label :comments %><br>
            <%= form.text_area :comments %>
        </div>

        <div>
            <%= form.submit "Create Dish" %>
        </div>
        <ul><%= link_to "Back to List", dishes_path%></ul>
    </div>
<% end %>
<% if @pending_cities.size >0 %>
<div align='center'>
    <h2> Pending Cities for Approval </h2>
    <ul>
      <% @pending_cities.each do |city| %>
        <li><%= city.name %></li>
      <% end %>
    </ul>
</div>
<%end%>

<!-- ✅ Add request new city form -->
<div align='center'>
  <h2>Request a New City</h2>
  <%= form_with url: request_new_cities_path, method: :post, local: true, html: { autocomplete: "off" } do |f| %>
    <%= f.text_field :name, placeholder: "Request new City", required: true %>
    <%= f.submit "Add" %>
  <% end %>
</div>
