<div class="centered-columns">
  <div class="column">

    <% @ownership = @car.ownerships.find_by_user_id(current_user.id) if current_user %>

    <h2 class="car-title">
      <%= @car.car_make.name %> <%= @car.model %>
      <span class="text-muted"><%= @car.variant %></span>
      <span class="text-muted">
        (<%= @car.fuel_type.eql?("CNG") ? @car.fuel_type : @car.fuel_type.chars.first %>)
      </span>
    </h2>

    <div class="center-block">
      <div class="field text-secondary field-bold">
        Model: <%= @car.date_of_purchase.strftime("%B %Y") %>
      </div>

      <% mileage = calculate_avg_mileage(@fuel_topups)
        mileage = mileage < 0 ? '-' : "#{mileage} kmpl (avg of last 5 topups)" %>

      <div class="field mileage field-bold">
        Mileage: <%= mileage %>
      </div>

      <% if current_user && @ownership&.user_id == current_user.id %>
        <div class="field">
          <%= link_to "View Full Refill History",
              ownership_fuel_topups_path(@ownership),
              class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <table class="cars-table">
      <tr>
        <th>Date</th>
        <th>Fuel Brand</th>
        <th>Price</th>
        <th>Odometer</th>
      </tr>

      <% @fuel_topups.each do |top_up| %>
        <tr>
          <td><%= top_up.topup_date.strftime("%d-%m-%Y") %></td>
          <td><%= top_up.brand %></td>
          <td>₹<%= top_up.price %></td>
          <td><%= top_up.odometer_reading %></td>
        </tr>
      <% end %>
    </table>

    <% if @fuel_topups.size < 2 %>
      <div class="field mileage">
        Add at least 2 fuel topup records to view mileage.
      </div>
    <% end %>

    <% if @ownership.present? %>
      <div class="center-block">
        <%= link_to "Topup Fuel",
            new_ownership_fuel_topup_path(@ownership),
            class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="qna-box">
      <ul>
        <li class="question">🤔 How does it work?</li>
        <li class="answer">
          We calculate based on kms between your consecutive topups
        </li>
      </ul>
    </div>

  </div>
</div>
