<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17677302327">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-17677302327');
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES_API_KEY'] %>&libraries=places">
      async defer
    </script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4VT0195768"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4VT0195768');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="<%= body_class %>">
    <div class="header-container">
      <div class="site-title">
        <h1><%=link_to "REalVIEWS", root_path, class: "site-title-link" %></h1>
      </div>

      <% unless controller_name == "home" && action_name == "index" %>
        <nav class="main-menu">
          <ul>
            <li><%= link_to "Cars", cars_path, class: "menu-link" %></li>
            <li><%= link_to "Food", dishes_path, class: "menu-link" %></li>
            <li><%= link_to "Balance Sheet", balance_sheets_path, class: "menu-link" %></li>
          </ul>
        </nav>
      <% end %>

      <div class="login-box">
        <% if user_logged_in? %>
          <div style="text-align">
            <%= current_user.name || current_user.email %>
          </div>
          <div style="text-align: right; margin-bottom: 15px;">
            <%= link_to "My Reviews", my_reviews_dishes_path, class: "btn btn-link" %>
            <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
          </div>
        <% else %>
          <div class="auth-links">
            <%= link_to "Login", login_otp_path, class: "btn btn-primary" %>
            <%= link_to "Signup", signup_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flash-messages">
      <% flash.each do |type, message| %>
        <div class="alert <%= type %>"><%= message %></div>
      <% end %>
    </div>

    <!-- ✅ Page Content -->
    <div class="page-content">
      <%= yield %>
    </div>

    <!-- ✅ Shared Footer -->
    <p class="disclaimer">
      Disclaimer: This site is completely <b>free</b> of cost.
    </p>
    <div class="share-container">
      <i class="fa-solid fa-share-nodes"></i>  
      <%= link_to "Share with Friends", "#", onclick: "shareRealViews(); return false;" %>
    </div>
    <div class="footer">
      <p>© <%= Time.current.year %> Contact pradeepr95@gmail.com for any concerns.</p>
    </div>
  </body>
  
</html>
